<h1><%= I18n.t '.products.edit.edit_product' %></h1>

<%= render 'form', product: @product %>

<%= link_to "#{I18n.t '.products.show.show'}", @product %> |
<%= link_to "#{I18n.t '.products.edit.back'}", products_path %>
